{% extends "layout.html" %}
{% block content %}
    <div class="container center ">
        <div class="row">
            <div class="col s2">
                <div class="divisor">

                </div>
            </div>
            <div class="col s3">
                <img style="border-radius:50%;" src="{{url_for( 'static',filename='registro.png')}}">
            </div>
            <div class="col s2">
                <div class="divisor">

                </div>
            </div>
            <div class="col s3">
                <img src="{{url_for( 'static',filename='img.jpg')}}">
            </div>
            <div class="col s2">
                <div class="divisor">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <img style="border-radius:50%;" src="{{url_for( 'static',filename='images.jpg')}}">
            </div>
            <div class="col s4">
                <img src="{{url_for( 'static',filename='icono.png')}}">
            </div>
            <div class="col s4">
                <img style="border-radius:50%;" src="{{url_for( 'static',filename='vet.jpg')}}">
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <div class="divisor">

                </div>
            </div>
            <div class="col s3">
                <img style="border-radius:50%;" src="{{url_for( 'static',filename='registro.png')}}">
            </div>
            <div class="col s2">
                <div class="divisor">

                </div>
            </div>
            <div class="col s3">
                <img style="border-radius:50%;" src="{{url_for( 'static',filename='images.jpg')}}">
            </div>
            <div class="col s2">
                <div class="divisor">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

